#bans-table {
    width: 1000px;
    font-size: 10pt;
    background: #262626;
    margin: 0 auto;
}

#bans-table td, #bans-table th {
    background-color: #4A4A4A;
    color: #FFFFFF;
    padding: 5px 10px;
}

.bans-table-content-status {
    font-size: 7pt;
    width: 50px;
}

.bans-table-content-steamid {
    width: 120px;
}

.bans-table-content-name {
    width: 200px;
}

.bans-table-content-banned {
    width: 80px;
}

.bans-table-content-expires {
    width: 80px;
}

.bans-table-content-reason textarea {
    width: 100%;
}

.bans-table-content-reason-blank {
    font-style: italic;
}

.bans-table-content-save {
    text-align: center;
    width: 80px;
}

.bans-table-content-name, .bans-table-content-steamid {
    font-family: monospace;
}