* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background: #262626;
}

a:link, a:visited {
    color: #2F0900;
    text-decoration: none;
}

a:active, a:hover {
    color: #FF0000;
}

.clear {
    clear: both;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(/static/arcjail/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

.main {
    font-family: "Roboto";
    width: 100%;
    height: 100%;
}

.logo {
    width: 100%;
    height: 150px;
    color: #FF0000;
    background: #4A4A4A url("/static/arcadmin/img/logo-default.png") center center no-repeat;
}