#serverclock {
	position: fixed;
	top: 0;
	right: 0;
	padding: 10px 20px;
	font-size: 12pt;
	background-color: #262626;
	color: #FFFFFF;
	opacity: .5;
	z-index: 10;
	cursor: default;
}

#serverclock:hover {
    opacity: 1;
}
