<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}ArcAdmin{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="/static/motdplayer/css/motdplayer.css?{{ auth_token }}" />
		{% for stylesheet in stylesheets %}<link rel="stylesheet" type="text/css" href="/static/arcadmin/css/{{ stylesheet }}.css?{{ auth_token }}" />
		{% endfor %}
		{% block header_css %}{% endblock %}
		<script type="application/javascript">
		    var STEAMID = "{{ steamid }}",
                AUTH_TOKEN = "{{ auth_token }}",
                SESSION_ID = "{{ session_id }}",
                CSRF_TOKEN = "{{ csrf_token }}";

			var APP = {};
		</script>
		<script type="application/javascript" src="/static/motdplayer/js/motdplayer.js?{{ auth_token }}"></script>
        {% for script in scripts %}<script type="application/javascript" src="/static/arcadmin/js/{{ script }}.js?{{ auth_token }}"></script>
        {% endfor %}
		{% block header_js %}{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
		{% block footer_js %}{% endblock %}
	</body>
</html>
