{% extends "arcadmin/main.html" %}

{% block title %}ArcAdmin Ban List{% endblock %}

{% block main %}
<div id="serverclock"></div>
<div class="logo"></div>
<table id="bans-table">
</table>
<div id="status"></div>
{% endblock %}

{% block footer_js %}
    <script type="text/javascript">
        var motdPlayer = new MOTDPlayer("{{ server_id }}", "arcadmin", "bans", STEAMID, AUTH_TOKEN, SESSION_ID);
        var serverclock = new APP['serverclock'](document.getElementById('serverclock'));
        var statusbar = new APP['statusbar'](document.getElementById('status'), STEAMID);
        var bans = new APP['bans'](motdPlayer, serverclock, statusbar);
    </script>
{% endblock %}
